* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: white;
    box-sizing: border-box;
}

:root {
    background-color: black;
}

body {
    width: 98.7vw;
    background-color: #111315 !important;
}

aside {
    background-color: #0c0e10;

    & a {
        text-decoration: none;
        color: white;
        padding-left: 5px;

        &:hover {
            color: #a61b1d;
        }
    }

    & h2 {
        font-weight: 700;
    }
    & h3 {
        font-weight: 500;
    }
}

#face span {
    font-weight: 400;
    color: #a61b1d;
}

header {
    position: sticky;
    top: 0px;
    z-index: 100;
}

nav {
    background-color: #191d20;
}

#search-bar {
    width: 60%;
}

#search-input {
    background: #272a30;
    color: white;

    &::placeholder {
        color: #7e7f81;
    }
}

.navbar button {
    background-color: #ff2424;
    color: white;
    font-weight: 200;
    width: 15%;
}

article {
    padding-inline: 8%;
}

h2 {
    font-weight: 500;
}

ul {
    list-style-type: none;
}

#menu-list {
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;
    }
}

.card {
    background-color: #191d20 !important;
    width: 15rem;

    & h6 {
        color: white;
        font-weight: 500;
    }

    & p {
        font-weight: 200;
    }

    & button {
        color: #878787;
        background-color: #363a43;
        padding: 0 10px;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}